.container {
  height: 100%;
  padding: 1rem;
  background-color: rgb(238, 238, 238);
}

.virtualListContainer {
  overflow: auto;
  position: relative;
  background-color: #fff;
}

.listContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.listItem {
  // height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loadingContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-top: 1px solid #eee;
}

.loadingSpinner {
  width: 20px;
  height: 20px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.noMoreData {
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #eee;
  pointer-events: none;
}
