.combined-table-container {
  flex: 1;
  min-height: 300px;
}

.combined-table-container :global(.ant-table-wrapper .ant-table-body) {
  overflow-y: auto !important;
}

/* 设置分页器居中 */
.combined-table-container :global(.ant-table-pagination.ant-table-pagination-right) {
  justify-content: center;
}
