.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgb(26, 122, 248), #87ceeb);
}

.loginBox {
  width: 480px;
  padding: 2.5rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  padding-bottom: 2.5rem;
}

.tab {
  flex: 1;
  text-align: center;
  color: #64748b;
  transition: all 0.2s;
  font-size: 1.5rem;
  font-weight: 700;

  span {
    cursor: pointer;
  }
  &:hover {
    color: rgb(51, 139, 255);
  }

  &.active {
    color: rgb(26, 122, 248);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 214px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    font-size: 1.125rem;
    font-weight: 600;
    color: #374151;
  }

  input {
    padding: 0.75rem;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.2s;

    &:focus {
      outline: none;
      border-color: #3b82f6;
      box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
    }
  }
}

.codeInput {
  display: flex;
  gap: 0.5rem;

  input {
    flex: 1;
  }
}

.remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;

  label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }
}

.forgot {
  color: #3b82f6;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.submitButton {
  padding: 1rem;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
  box-shadow: 0 4px 8px rgba(37, 99, 235, 0.3);

  &:hover {
    background-color: #2563eb;
    box-shadow: 0 4px 8px rgba(59, 130, 246, 0.3);
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
  }

  &:disabled {
    background-color: #93c5fd;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }
}

.registerText {
  text-align: center;
  margin-top: 2rem;
  color: #64748b;
  font-size: 1.125rem;

  a {
    color: #3b82f6;
    text-decoration: none;
    font-weight: 500;
    margin-left: 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.getCodeButton {
  padding: 0.5rem 1rem;
  background-color: #f3f4f6;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: #e5e7eb;
  }
}
