.mapContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.mapContainerTop {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 999;
  padding: 10px;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input {
  position: relative;
  width: 300px;
  background-color: #fff;
  pointer-events: auto;
}