.menu-component {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }

  li {
    display: inline-block;
  }
  
  a {
    text-decoration: none;
    color: #1C222B;
    font-size: 1.25rem;
  }

  .menu-item {
    position: relative;
    padding: 0 15px;

    .dropdown {
      position: relative;
      cursor: pointer;

      > span {
        font-size: 1.25rem;
      }

      &-content {
        display: block;
        left: 50% !important;
        margin-left: -80px;
        transition: all 0.2s ease-out;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 68px;
        background: white;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        min-width: 160px;
        padding: 10px 0;
        z-index: 10000 !important;
        border: 1px solid rgba(0,0,0,0.1);
        pointer-events: all;
        min-height: 100px;
        color: #000;

        a {
          color: #1C222B !important;
          display: block;
        }

        &::before {
          content: '';
          position: absolute;
          top: -15px;
          height: 30px;
          left: 0;
          right: 0;
        }
      }

      &:hover &-content {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(0);
      }
    }
  }
}

.dropdown-content {
  outline: 3px solid blue !important;
  background: rgba(0,255,0,0.3) !important;
  min-width: 200px !important;
  min-height: 100px !important;
}

