{
  "$schema": "https://swc.rs/schema.json",
  "sourceMaps": false,
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./"
  },
  "module": {
    "type": "commonjs",
    "strict": true
  },
  "minify": false
}