/* .menu-component ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.menu-component li {
  display: inline-block;
}

.menu-component a {
  text-decoration: none;
  color: #1c222b;
  font-size: 1.25rem;
} */

.menu-component .menu-item {
  position: relative;
  padding: 0 15px;
}

.menu-component .menu-item .dropdown {
  position: relative;
  cursor: pointer;
}

.menu-component .menu-item .dropdown > span {
  font-size: 1.25rem;
}

.menu-component .menu-item .dropdown-content {
  display: block;
  left: 50% !important;
  margin-left: -80px;
  transition: all 0.2s ease-out;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 68px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  padding: 10px 0;
  z-index: 10000 !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  pointer-events: all;
  min-height: 100px;
  color: #000;
}

.menu-component .menu-item .dropdown-content a {
  color: #1c222b !important;
  display: block;
}

.menu-component .menu-item .dropdown-content::before {
  content: '';
  position: absolute;
  top: -15px;
  height: 30px;
  left: 0;
  right: 0;
}

.menu-component .menu-item .dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}
